h1, h2, h3, h4, h5, p, span, a {
    font-family: 'Rajdhani', sans-serif;
}

:root {
    --main-bg-color: #070720;
    --main-bg-clear: #11112a;
    --main-bg-clearer: #191937;
    --main-gold: #f4c874;
    --main-win: #3273fa;
    --main-bg-win: #1e2a5c;
    --main-lose: #ff4e50;
    --main-bg-lose: #39203a;
    --main-green: #05944f;  
    --main-orange: #eda315;
  }

.bg-color {
    background-color: var(--main-bg-color)!important;
}
.bg-clear {
    background-color: var(--main-bg-clear)!important;
}
.bg-clearer {
    background-color: var(--main-bg-clearer)!important;
}
.bg-lose {
    background: linear-gradient(135deg,rgba(255,78,80,.16),rgba(255,78,80,0)),#191937;
}
.bg-win {
    background: linear-gradient(135deg,rgba(50,115,250,.2),rgba(50,115,250,0)),#191937;
}

.bg-orange {
    background-color:var(--main-orange);
}

.bg-red {
    background-color: var(--main-lose);
}

.bg-purple {
    background-color: var(--main-bg-lose);
}

.bg-blue {
    background-color: var(--main-win);
}

.color-lose {
    color: var(--main-lose)!important;
}

.color-win {
    color: var(--main-win)!important;
}

.color-gold {
    color: var(--main-gold)!important;
}

.bg-gold {
    background-color: var(--main-gold)!important;
}

.color-green {
    color: var(--main-gold)!important;
}

.table {
    margin-bottom:0!important;
}
.table th, .table td {
    padding: .25rem!important;
    border-top:0!important;
}

.history-text {
    font-size:.8rem;

}

.duree {
    position: absolute;
    top: -34px;
    z-index: 0;
    right: 0;
    background: #191c3e;
    color: white;

}

.au-total {
    position: absolute;
    right: 18px;
    bottom: -5px;
    font-size:1rem;
}

                            
.icon-topright {
    position: absolute;
    top: 0;
    right:0;
    border-bottom-left-radius: 100px;
    font-size: 1.1rem;
    padding:.4rem;
    padding-left:.9rem;
    padding-bottom:.8rem;

}

.score-total {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}

.img-mvp {
    max-height: 150px;
}

nav {
    a {
        font-size:1.2em;
    }
    img {
        width: 200px;
    }
}


body {
    min-height: 100vh;

    
    &#welcome {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image:url('/bg/home-bg.jpg');
    }
    &#player, &#team {
        background-image:url('/bg/player-bg.jpg');
        background-attachment: fixed;
    }
}


.pseudo {
    font-size:8em;
}


.med-icon {
    font-size:3em;
}


// Section team 

.champ-used {
    width: 25px;
}
.golds {
    color:orange;
}
.mvp {
    position: absolute;
    width: 80px;
    left: -30px;
    top: -18px;
    transform: rotate(
-32deg
);
}

.blaze-mvp {
    color:white;
    position: absolute;
    bottom: 0px;
    left:50%;
    transform: translate(-50%);
    font-weight: 700;
}
.histo-win {
    // background:rgba(75,255,75,.45) ;
}

.histo-lose {
    // background:rgba(255,67,67,.65) ;

}